/* ng module css */
.drop {
  display: block;
  position: absolute;
  background: rgba(220,220,220,.5);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
  width:200px;
  height:200px;
}

.drop.animate {
  /*animation: drop 1.5s ease-out;*/
  -webkit-animation-name: drop;
  -moz-animation-name: drop;
  -o-animation-name: drop;
  animation-name: drop;
  /*-webkit-animation-duration:1.5s;*/
  transition-timing-function: ease-out;
}


@keyframes drop {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}